<!-- Home Page Section -->
    
<!-- Header of section -->
<div class="container-full header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">O mnie</h2>
                <h4 class="section-subheading text-muted">Kilka słów o mnie</h4>
            </div>
        </div>
    </div>
</div>

<div class="container-full bg-light-trans">    
  <!-- Content of section -->
    <div class="container" style="min-height:300px;">
        <div class="row">
            <div class="row text-center">
                <div class="col-md-12">
                    <p class="large">
                        <span>Łączyć zainteresowania z pracą zawodową, zdobywać nowe doświadczenia, rozwijać się.<span class="hover-active"></span>. 
                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>

                <div class="col-md-6">
                <h3>E-Commerce</h3>
                    <p>Procedury wykorzystujące środki i urządzenia elektroniczne (telefon stacjonarny i komórkowy, faks, Internet, telewizję) w celu zawarcia transakcji handlowej. Najbardziej popularną metodą handlu elektronicznego jest handel internetowy, gdzie występują transakcje handlowe pomiędzy sprzedającymi a kupującymi. Najbardziej powszechną formą handlu elektronicznego są sklepy internetowe.</p>
                </div>
                <div class="col-md-6">
                    <h3>Responsive Design</h3>
                    <p>Technika projektowania strony www, tak aby jej wygląd i układ dostosowywał się automatycznie do rozmiaru okna urządzenia, na którym jest wyświetlany (np. przeglądarki, smartfonów czy tabletów. Strona tworzona w takiej technice jest uniwersalna i wyświetla się dobrze zarówno na wielkich ekranach (np. Full HD), jak i na ekranach smartfonów czy tabletów.</p>
                </div>
                <div class="col-md-6">
                    <h3>Web Security</h3>
                    <p>Bezpieczeństwo to stan, który daje poczucie pewności istnienia i gwarancje jego zachowania oraz szanse na doskonalenie. Jest to jedna z podstawowych potrzeb człowieka. Odznacza się brakiem ryzyka utraty czegoś dla podmiotu szczególnie cennego – życia, zdrowia, pracy, szacunku, uczuć, dóbr materialnych i dóbr niematerialnych.</p>
                </div>
                <div class="col-md-12 text-center">
                    <span class="block-tag">PHP</span>
                    <span class="block-tag">AngularJs</span>
                    <span class="block-tag">NodeJs</span>
                    <span class="block-tag">jQuery</span>
                    <span class="block-tag">HTML5</span>
                    <span class="block-tag">CSS3</span>
                    <span class="block-tag">Postgresql</span>
                </div>
                <div class="col-md-12" style="margin-bottom:30px">
                    <span class="block-tag">Gentoo</span>
                    <span class="block-tag">Linux</span>
                    <span class="block-tag">CISCO</span>
                    <span class="block-tag">Apache</span>
                    <span class="block-tag">Drupal</span>
                    <span class="block-tag">Wordpress</span>
                    <span class="block-tag">ZendFramework</span>
                    <span class="block-tag">GIT</span>
                    <span class="block-tag">Network security</span>
                </div>
            </div>
        </div>
    </div>
</div>
